In [1]:
import pandas as pd
import numpy as np

# 2013-2014 Data

In [2]:
# 2013-2014
path = '/Users/carolinesklaver/Desktop/Capstone/NHANES/data/csv_data/2013-2014'

import os
os.chdir(path)

## PHQ-9 Survey - part of Questionnaire

In [3]:
DPQ_2013_2014 = pd.read_csv('./Questionnaire/DPQ_H.csv')

In [4]:
DPQ_2013_2014.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100
0,73557.0,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00
1,73558.0,2.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
2,73559.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
3,73561.0,2.000000e+00,1.000000e+00,5.397605e-79,3.000000e+00,3.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00
4,73562.0,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,5.397605e-79,3.000000e+00

In [5]:
# drop final follow-up question
DPQ_2013_2014.drop(['DPQ100'], axis=1, inplace=True)

In [6]:
# values less than 1 are zero
def set_zero(df):
    df[df<1] = 0
    
set_zero(DPQ_2013_2014)

In [7]:
# need to drop rows where not all col are complete
DPQ_2013_2014.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [8]:
# take a sum across rows and save as new col
DPQ_2013_2014['sum'] = DPQ_2013_2014.iloc[:,1:].sum(axis=1)

In [9]:
# create new target label 'depressed' if sum is greater than 10 --> 1, otherwise 0
DPQ_2013_2014.loc[DPQ_2013_2014['sum'] > 10, 'depressed'] = 1
DPQ_2013_2014.loc[DPQ_2013_2014['sum'] <= 10, 'depressed'] = 0

In [10]:
DPQ_2013_2014.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,sum,depressed
0,73557.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,73558.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
2,73559.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,73561.0,2.0,1.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,9.0,0.0
4,73562.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0,1.0,0.0,19.0,1.0

In [11]:
DPQ_2013_2014.shape

(5393, 12)

In [12]:
DPQ_H = DPQ_2013_2014[['SEQN', 'depressed']]

In [13]:
DPQ_H.head()

      SEQN  depressed
0  73557.0        0.0
1  73558.0        0.0
2  73559.0        0.0
3  73561.0        0.0
4  73562.0        1.0

In [14]:
len(DPQ_2013_2014[DPQ_2013_2014['depressed']==1])  # about 8% depressed = true

435

## Demographic Data

### Demographic Variables and Sample Weights (DEMO_H)

In [15]:
# start with demographic data
DEMO_2013_2014 = pd.read_csv('./Demographics/DEMO_H.csv')

In [16]:
DEMO_2013_2014.head(10)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,6.900000e+01,NaN,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,1.348104e+04,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,5.400000e+01,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,2.447177e+04,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,7.200000e+01,NaN,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,5.719329e+04,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.000000e+00,NaN,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,5.576651e+04,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,7.300000e+01,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,6.554187e+04,2.0,116.0,15.0,15.0,5.00
5,73562.0,8.0,2.0,1.0,5.600000e+01,NaN,1.0,1.0,1.0,NaN,...,4.0,3.0,NaN,24978.144602,2.534499e+04,1.0,111.0,9.0,9.0,4.79
6,73563.0,8.0,2.0,1.0,5.397605e-79,5.0,3.0,3.0,2.0,6.0,...,5.0,1.0,5.0,18040.818432,1.791356e+04,1.0,105.0,15.0,15.0,5.00
7,73564.0,8.0,2.0,2.0,6.100000e+01,NaN,3.0,3.0,2.0,NaN,...,5.0,2.0,NaN,60325.095254,6.175865e+04,1.0,114.0,10.0,10.0,5.00
8,73565.0,8.0,1.0,1.0,4.200000e+01,NaN,2.0,2.0,NaN,NaN,...,3.0,1.0,5.0,23307.675629,5.397605e-79,2.0,106.0,15.0,15.0,5.00
9,73566.0,8.0,2.0,2.0,5.600000e+01,NaN,3.0,3.0,1.0,NaN,...,3.0,3.0,NaN,16351.783140,1.748012e+04,1.0,112.0,4.0,4.0,0.48

Demographics variables:
- DMDBORN4: Due to the concerns of disclosure risk, starting in 2011, country of birth was recoded into two categories: 1) Born in 50 U.S. states or Washington, DC; and 2) Born in other countries, including U.S. territories.

- DMDEDUC2: This variable is the highest grade or level of education completed by adults 20 years and older. The response categories are: less than 9th grade education, 9-11th grade education (includes 12th grade and no diploma), High school graduate/GED, some college or associates (AA) degree, and college graduate or higher.

- DMDHHSIZ: This variable is the number of people in the participant’s household. The values for this variable range from 1 to 7. Due to disclosure concerns, households that are comprised of 7 or more people are included in the category that is labeled ‘7 or more’.

- RIDAGEYR: Age in years, at the time of the screening interview, is reported for survey participants between the ages of 1 and 79 years of age. All responses of participants aged 80 years and older are coded as ‘80.’

- RIAGENDR: Gender: male 1, female 2

- INDHHIN2: Total household income (reported as a range value in dollars), range 1-15, 77 refused, 99 dont know

- DMQMIL1Z: Served active duty in US Armed Forces, 1 yes, 0 no, 7 refuse, 9 dont know

- DMDMARTL: Marital status - 1 Married, 2 widowed, 3 divorced, 4 separated, 5 never married, 6 living with partner, 77 refused

In [17]:
# filter only relevant cols
DEMO_H = DEMO_2013_2014.filter(['SEQN','RIDRETH1', 'DMDEDUC2', 'DMDHHSIZ', 'RIDAGEYR', 'RIAGENDR','INDHHIN2', 
                        'DMQMIL1Z', 'DMDMARTL'], axis=1)

In [18]:
# rename col to be more useful
demo_cols = {'SEQN': 'SEQN', 'RIDRETH1':'race_ethnicity', 'DMDEDUC2': 'edu_level', 'DMDHHSIZ': '#_ppl_household', 
               'RIDAGEYR': 'age', 'RIAGENDR': 'gender','INDHHIN2': 'annual_HI', 
                        'DMQMIL1Z': 'served_army', 'DMDMARTL':'marital_status'}

DEMO_H.columns = DEMO_H.columns.map(demo_cols)

In [19]:
DEMO_H.head()

,SEQN,race_ethnicity,edu_level,#_ppl_household,age,gender,annual_HI,marital_status
0,73557.0,4.0,3.0,3.0,69.0,1.0,4.0,4.0
1,73558.0,3.0,3.0,4.0,54.0,1.0,7.0,1.0
2,73559.0,3.0,4.0,2.0,72.0,1.0,10.0,1.0
3,73560.0,3.0,NaN,4.0,9.0,1.0,9.0,NaN
4,73561.0,3.0,5.0,2.0,73.0,2.0,15.0,1.0

## Dietary Data

### Dietary Interview - Total Nutrient Intakes, First Day (DR1TOT_H)

In [20]:
DIET_2013_2014 = pd.read_csv('./Dietary/DR1TOT_H.csv')

Dietary variables:
- DR1TCAFF : caffeine - Caffeine (mg) range 0 to 2448

In [21]:
# filter only relevant cols
DIET_H = DIET_2013_2014.filter(['SEQN', 'DR1TCAFF'], axis=1)

diet_cols = {'SEQN': 'SEQN', 'DR1TCAFF':'caffeine'}

DIET_H.columns = DIET_H.columns.map(diet_cols)

In [22]:
DIET_2013_2014.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,73557.0,16888.327864,12930.890649,1.0,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558.0,17932.143865,12684.148869,1.0,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,73559.0,59641.812930,39394.236709,1.0,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560.0,142203.069917,125966.366442,1.0,54.0,2.0,2.0,21.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561.0,59052.357033,39004.892993,1.0,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

## Questionnaire Data

### Diabetes

variables
- DIQ010 : doc_diabetes - {Have you/Has SP}} ever been told by a doctor or health professional that {you have/{he/she/SP} has} diabetes or sugar diabetes? 1 yes, 2 no, 3 boarderline
- DIQ160 : doc_prediabetes - {Have you/Has SP} ever been told by a doctor or other health professional that {you have/SP has} any of the following: prediabetes, impaired fasting glucose, impaired glucose tolerance, borderline diabetes or that {your/her/his} blood sugar is higher than normal but not high enough to be called diabetes or sugar diabetes? 1 yes, 2 no

In [23]:
DIQ_2013_2014 = pd.read_csv('./Questionnaire/DIQ_H.csv')

In [24]:
DIQ_2013_2014.columns

Index(['SEQN', 'DIQ010', 'DID040', 'DIQ160', 'DIQ170', 'DIQ172', 'DIQ175A',
       'DIQ175B', 'DIQ175C', 'DIQ175D', 'DIQ175E', 'DIQ175F', 'DIQ175G',
       'DIQ175H', 'DIQ175I', 'DIQ175J', 'DIQ175K', 'DIQ175L', 'DIQ175M',
       'DIQ175N', 'DIQ175O', 'DIQ175P', 'DIQ175Q', 'DIQ175R', 'DIQ175S',
       'DIQ175T', 'DIQ175U', 'DIQ175V', 'DIQ175W', 'DIQ175X', 'DIQ180',
       'DIQ050', 'DID060', 'DIQ060U', 'DIQ070', 'DIQ230', 'DIQ240', 'DID250',
       'DID260', 'DIQ260U', 'DIQ275', 'DIQ280', 'DIQ291', 'DIQ300S', 'DIQ300D',
       'DID310S', 'DID310D', 'DID320', 'DID330', 'DID341', 'DID350', 'DIQ350U',
       'DIQ360', 'DIQ080'],
      dtype='object')

In [25]:
DIQ_H = DIQ_2013_2014.filter(['SEQN','DIQ010', 'DIQ160'], axis=1)

In [26]:
# rename col to be more useful
DIQ_cols = {'SEQN':'SEQN', 'DIQ010':'doc_diabetes', 'DIQ160': 'doc_prediabetes'}

DIQ_H.columns = DIQ_H.columns.map(DIQ_cols)

In [27]:
DIQ_H.head()

      SEQN  doc_diabetes  doc_prediabetes
0  73557.0           1.0              NaN
1  73558.0           1.0              NaN
2  73559.0           1.0              NaN
3  73560.0           2.0              NaN
4  73561.0           2.0              2.0

### Diet Questionnaire

Variables:
- CBQ505 : fast_food_12m - In the past 12 months, did you buy food from fast food or pizza places?
- DBD895 : #meals_not_home - During the past 7 days, how many meals {did you/did SP} get that were prepared away from home in places such as restaurants, fast food places, food stands, grocery stores, or from vending machines?
    - 0 None, 1 to 21 range, 5555 more than 21 meals per week, 7777 refused, 9999 dont know
- DBD900 : #meals_fast_food - How many of those meals {did you/did SP} get from a fast-food or pizza place?
- DBQ197 : drink_milk_1m - In the past 30 days, how often did {you/SP} have milk to drink or on {your/his/her} cereal? Please include chocolate and other flavored milks as well as hot cocoa made with milk. Do not count small amounts of milk added to coffee or tea.
    - 0	Never, 1 Rarely-less than once a week, 2 Sometimes-once a week or more, but less than once a day, 3 Often-once a day or more, 4 Varied
- DBQ700 : how_healthy_diet - In general, how healthy is {your/his/her} overall diet? 
    - Excellent to Poor: 1-5

In [28]:
DBQ_2013_2014 = pd.read_csv('./Questionnaire/DBQ_H.csv')

In [29]:
DBQ_2013_2014.columns

Index(['SEQN', 'DBQ010', 'DBD030', 'DBD041', 'DBD050', 'DBD055', 'DBD061',
       'DBQ073A', 'DBQ073B', 'DBQ073C', 'DBQ073D', 'DBQ073E', 'DBQ073U',
       'DBQ700', 'DBQ197', 'DBQ223A', 'DBQ223B', 'DBQ223C', 'DBQ223D',
       'DBQ223E', 'DBQ223U', 'DBQ229', 'DBQ235A', 'DBQ235B', 'DBQ235C',
       'DBQ301', 'DBQ330', 'DBQ360', 'DBQ370', 'DBD381', 'DBQ390', 'DBQ400',
       'DBD411', 'DBQ421', 'DBQ424', 'DBD895', 'DBD900', 'DBD905', 'DBD910',
       'CBQ596', 'CBQ606', 'CBQ611', 'CBQ505', 'CBQ535', 'CBQ540', 'CBQ545',
       'CBQ550', 'CBQ552', 'CBQ580', 'CBQ585', 'CBQ590'],
      dtype='object')

In [30]:
DBQ_H = DBQ_2013_2014.filter(['SEQN','DBD900', 'DBQ700'], axis=1)

In [31]:
# rename col to be more useful
DBQ_cols = {'SEQN':'SEQN',
                  'DBD900':'#meals_fast_food', 'DBQ700': 'how_healthy_diet'}

DBQ_H.columns = DBQ_H.columns.map(DBQ_cols)

In [32]:
DBQ_H.head()

      SEQN  #meals_fast_food  how_healthy_diet
0  73557.0      8.000000e+00               2.0
1  73558.0               NaN               3.0
2  73559.0      5.397605e-79               3.0
3  73560.0               NaN               NaN
4  73561.0               NaN               2.0

### Sight & Hearing

variables:
- DLQ010 : difficult_hearing - 1 yes, 2 no
- DLQ020 : difficult_seeing - 1 yes, 2 no

In [33]:
DLQ_2013_2014 = pd.read_csv('./Questionnaire/DLQ_H.csv')

In [34]:
DLQ_2013_2014.columns

Index(['SEQN', 'DLQ010', 'DLQ020', 'DLQ040', 'DLQ050', 'DLQ060', 'DLQ080'], dtype='object')

In [35]:
DLQ_H = DLQ_2013_2014.filter(['SEQN','DLQ010','DLQ020'], axis=1)

In [36]:
# rename col to be more useful
DLQ_cols = {'SEQN':'SEQN', 'DLQ010': 'difficult_hearing', 'DLQ020': 'difficult_seeing'}

DLQ_H.columns = DLQ_H.columns.map(DLQ_cols)

In [37]:
DLQ_H.head()

      SEQN  difficult_hearing  difficult_seeing
0  73557.0                2.0               2.0
1  73558.0                2.0               2.0
2  73559.0                1.0               2.0
3  73560.0                2.0               2.0
4  73561.0                2.0               2.0

### Drugs

variables: 
- DUQ211 : used_marijuana - Have you ever smoked marijuana or hashish at least once a month for more than one year?
- DUQ230 : # days used marijuana or hashish/month
- DUQ240 : used_CMH - Have you ever used cocaine, crack cocaine, heroin, or methamphetamine?
- DUQ370 : injected_drugs - Have you ever, even once, used a needle to inject a drug not prescribed by a doctor?

    - 1 yes, 2 no, 7 refused, 9 don't know

In [38]:
DUQ_2013_2014 = pd.read_csv('./Questionnaire/DUQ_H.csv')

In [39]:
DUQ_H = DUQ_2013_2014.filter(['SEQN', 'DUQ230', 'DUQ240'], axis=1)

In [40]:
DUQ_cols = {'SEQN':'SEQN', 'DUQ230': 'used_marijuana', 'DUQ240':'used_CMH'}

DUQ_H.columns = DUQ_H.columns.map(DUQ_cols)

In [41]:
DUQ_H.head()

      SEQN  used_marijuana  used_CMH
0  73557.0             NaN       7.0
1  73558.0            20.0       1.0
2  73562.0             NaN       2.0
3  73564.0             NaN       2.0
4  73566.0             NaN       2.0

### Health Insurance

variables:
- HIQ011 : health_insurance - {Are you/Is SP} covered by health insurance or some other kind of health care plan? 1 yes, 2 no

In [42]:
HIQ_2013_2014 = pd.read_csv('./Questionnaire/HIQ_H.csv')

HIQ_H = HIQ_2013_2014.filter(['SEQN', 'HIQ011'], axis=1)
HIQ_cols = {'SEQN':'SEQN', 'HIQ011': 'health_insurance'}

HIQ_H.columns = HIQ_H.columns.map(HIQ_cols)

In [43]:
HIQ_H.head()

      SEQN  health_insurance
0  73557.0               1.0
1  73558.0               2.0
2  73559.0               1.0
3  73560.0               1.0
4  73561.0               1.0

### Medical Conditions

variables:
- MCQ010 : doc_asthma - Has a doctor or other health professional ever told {you/SP} that {you have/s/he/SP has} asthma (az-ma)?
- MCQ080 : doc_overweight - Has a doctor or other health professional ever told {you/SP} that {you were/s/he/SP was} overweight?
- MCQ160a :  doc_arthritis - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had arthritis (ar-thry-tis)?
- MCQ160b :  doc_CHF - Has a doctor or other health professional ever told {you/SP} that {you/s/he}had congestive heart failure?
- MCQ160c : doc_CHD - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had coronary (kor-o-nare-ee) heart disease?
- MCQ160e : doc_heart_attack - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had a heart attack (also called myocardial infarction (my-o-car-dee-al in-fark-shun))?
- MCQ160f : doc_stroke - Has a doctor or other health professional ever told {you/SP} that {you/s/her} had a stroke?
- MCQ160k : doc_chronic_bronchitis - Has a doctor or other health professional ever told {you/SP} that {you/s/he} . . .had chronic bronchitis?
- MCQ160l : doc_liver_condition - Has a doctor or other health professional ever told {you/SP} that {you/s/he} . . .had any kind of liver condition?
- MCQ160m : doc_thyroid_problem - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had another thyroid (thigh-roid) problem?
- MCQ160o : doc_COPD - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had COPD?
- MCQ220 : doc_cancer - {Have you/Has SP} ever been told by a doctor or other health professional that {you/s/he} had cancer or a malignancy (ma-lig-nan-see) of any kind?
- MCQ365a : doc_lose_weight - To lower {your/SP's} risk for certain diseases, during the past 12 months {have you/has s/he} ever been told by a doctor or health professional to: control {your/his/her} weight or lose weight?
- MCQ365b : doc_exercise - To lower {your/SP's} risk for certain diseases, during the past 12 months {have you/has s/he} ever been told by a doctor or health professional to: increase {your/his/her} physical activity or exercise?

In [44]:
MCQ_2013_2014 = pd.read_csv('./Questionnaire/MCQ_H.csv')

MCQ_H = MCQ_2013_2014.filter(['SEQN', 'MCQ010', 'MCQ080', 'MCQ160A', 'MCQ160B', 'MCQ160C', 'MCQ160E',
 'MCQ160F', 'MCQ160K', 'MCQ160L', 'MCQ160M', 'MCQ160O', 'MCQ220'], axis=1)

 
MCQ_cols = {'SEQN': 'SEQN', 'MCQ010':'doc_asthma', 'MCQ080':'doc_overweight', 'MCQ160A':'doc_arthritis', 
 'MCQ160B':'doc_CHF', 'MCQ160C':'doc_CHD', 'MCQ160E':'doc_heart_attack',
 'MCQ160F':'doc_stroke', 'MCQ160K':'doc_chronic_bronchitis', 'MCQ160L':'doc_liver_condition', 
 'MCQ160M':'doc_thyroid_problem', 'MCQ160O':'doc_COPD', 'MCQ220':'doc_cancer'}

MCQ_H.columns = MCQ_H.columns.map(MCQ_cols)

In [45]:
MCQ_H.head()

,SEQN,doc_asthma,doc_overweight,doc_arthritis,doc_CHF,doc_CHD,doc_heart_attack,doc_stroke,doc_chronic_bronchitis,doc_liver_condition,doc_thyroid_problem,doc_COPD,doc_cancer
0,73557.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,73558.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,73559.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
3,73560.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0

### Kidney Conditions - Urology (KIQ_U_H)

variables
- KIQ022: doc_kidney - {Have you/Has SP} ever been told by a doctor or other health professional that {you/s/he} had weak or failing kidneys? Do not include kidney stones, bladder infections, or incontinence.

In [46]:
KIQ_U_2013_2014 = pd.read_csv('./Questionnaire/KIQ_U_H.csv')

KIQ_U_H = KIQ_U_2013_2014.filter(['SEQN', 'KIQ022'], axis=1)
KIQ_U_cols = {'SEQN':'SEQN', 'KIQ022': 'doc_kidney'}

KIQ_U_H.columns = KIQ_U_H.columns.map(KIQ_U_cols)

In [47]:
KIQ_U_H.head()

      SEQN  doc_kidney
0  73557.0         2.0
1  73558.0         2.0
2  73559.0         1.0
3  73561.0         1.0
4  73562.0         2.0

### Osteoperosis

variables:
- OSQ010A : broken_hip - Has a doctor ever told {you/SP} that {you/s/he} had broken or fractured {your/his/her} . . .hip?
- OSQ060 : doc_osteoporosis - Has a doctor ever told {you/SP} that {you/s/he} had osteoporosis, sometimes called thin or brittle bones?

    - 1 yes, 2 no, 7 refused, 9 don't know

In [48]:
OSQ_2013_2014 = pd.read_csv('./Questionnaire/OSQ_H.csv')

OSQ_H = OSQ_2013_2014.filter(['SEQN', 'OSQ010A', 'OSQ060'], axis=1)
OSQ_cols = {'SEQN':'SEQN', 'OSQ010A': 'broken_hip', 'OSQ060':'doc_osteoporosis'}

OSQ_H.columns = OSQ_H.columns.map(OSQ_cols)

In [49]:
OSQ_2013_2014.columns

Index(['SEQN', 'OSQ010A', 'OSQ010B', 'OSQ010C', 'OSQ020A', 'OSQ020B',
       'OSQ020C', 'OSD030AA', 'OSQ040AA', 'OSD050AA', 'OSD030AB', 'OSQ040AB',
       'OSD050AB', 'OSD030AC', 'OSQ040AC', 'OSD050AC', 'OSD030BA', 'OSQ040BA',
       'OSD050BA', 'OSD030BB', 'OSQ040BB', 'OSD050BB', 'OSD030BC', 'OSQ040BC',
       'OSD050BC', 'OSD030BD', 'OSQ040BD', 'OSD050BD', 'OSD030BE', 'OSQ040BE',
       'OSD030BF', 'OSQ040BF', 'OSD030BG', 'OSQ040BG', 'OSD030BH', 'OSQ040BH',
       'OSD030BI', 'OSQ040BI', 'OSD030BJ', 'OSQ040BJ', 'OSD030CA', 'OSQ040CA',
       'OSD050CA', 'OSD030CB', 'OSQ040CB', 'OSD050CB', 'OSD030CC', 'OSQ040CC',
       'OSQ080', 'OSQ090A', 'OSQ100A', 'OSD110A', 'OSQ120A', 'OSQ090B',
       'OSQ100B', 'OSD110B', 'OSQ120B', 'OSQ090C', 'OSQ100C', 'OSD110C',
       'OSQ120C', 'OSQ090D', 'OSQ100D', 'OSD110D', 'OSQ120D', 'OSQ090E',
       'OSQ100E', 'OSD110E', 'OSQ120E', 'OSQ090F', 'OSQ120F', 'OSQ090G',
       'OSQ100G', 'OSD110G', 'OSQ120G', 'OSQ090H', 'OSQ120H', 'OSQ060',
       'OSQ072', 'OSQ130', 'OSQ140Q', 'OSQ140U', 'OSQ150', 'OSQ160A',
       'OSQ160B', 'OSQ170', 'OSQ180', 'OSQ190', 'OSQ200', 'OSQ210', 'OSQ220'],
      dtype='object')

In [50]:
OSQ_H.head()

      SEQN  broken_hip  doc_osteoporosis
0  73557.0         2.0               2.0
1  73558.0         2.0               2.0
2  73559.0         2.0               1.0
3  73561.0         2.0               2.0
4  73562.0         2.0               2.0

### Physical Activity

variables:
- PAQ650 - Vigorous recreational activities - In a typical week {do you/does SP} do any vigorous-intensity sports, fitness, or recreational activities that cause large increases in breathing or heart rate like running or basketball for at least 10 minutes continuously? 1 yes 2 no
    - PAD200 - Vigorous activity over past 30 days ^^
- PAQ665 - Moderate recreational activities
    - PAD320 - Moderate activity over past 30 days ^^
- PAD680 : min_sedetary - The following question is about sitting at school, at home, getting to and from places, or with friends including time spent sitting at a desk, traveling in a car or bus, reading, playing cards, watching television, or using a computer. Do not include time spent sleeping. How much time {do you/does SP} usually spend sitting on a typical day?

In [51]:
PAQ_2013_2014 = pd.read_csv('./Questionnaire/PAQ_H.csv')

PAQ_H = PAQ_2013_2014.filter(['SEQN', 'PAQ650', 'PAD200', 'PAQ665', 'PAD320',
           'PAD680'], axis=1)

PAQ_cols = {'SEQN':'SEQN', 'PAQ650':'vigorous_activity', 'PAD200':'vigorous_activity', 'PAQ665':'moderate_activity',
           'PAD3205':'moderate_activity', 'PAD680':'min_sedetary'}

PAQ_H.columns = PAQ_H.columns.map(PAQ_cols)

In [52]:
PAQ_H.columns

Index(['SEQN', 'vigorous_activity', 'moderate_activity', 'min_sedetary'], dtype='object')

In [53]:
PAQ_H.head()

      SEQN  vigorous_activity  moderate_activity  min_sedetary
0  73557.0                2.0                2.0         600.0
1  73558.0                2.0                2.0         540.0
2  73559.0                2.0                1.0         300.0
3  73560.0                NaN                NaN           NaN
4  73561.0                2.0                2.0         480.0

### Sleeping Disorders

variables:
- SLQ060 : doc_sleeping_disorder - {Have you/Has SP} ever been told by a doctor or other health professional that {you have/s/he has} a sleep disorder?

In [54]:
SLQ_2013_2014 = pd.read_csv('./Questionnaire/SLQ_H.csv')

SLQ_H = SLQ_2013_2014.filter(['SEQN', 'SLQ060'], axis=1)
SLQ_cols = {'SEQN':'SEQN', 'SLQ060': 'doc_sleeping_disorder'}

SLQ_H.columns = SLQ_H.columns.map(SLQ_cols)

In [55]:
SLQ_2013_2014.columns

Index(['SEQN', 'SLD010H', 'SLQ050', 'SLQ060'], dtype='object')

In [56]:
SLQ_H.head()

      SEQN  doc_sleeping_disorder
0  73557.0                    2.0
1  73558.0                    2.0
2  73559.0                    2.0
3  73561.0                    2.0
4  73562.0                    1.0

### Smoking - Cigarette Use (SMQ_H)

variables:
- SMQ020 : smoker - These next questions are about cigarette smoking and other tobacco use. {Have you/Has SP} smoked at least 100 cigarettes in {your/his/her} entire life?

In [57]:
SMQ_2013_2014 = pd.read_csv('./Questionnaire/SMQ_H.csv')

SMQ_H = SMQ_2013_2014.filter(['SEQN', 'SMQ020'], axis=1)
SMQ_cols = {'SEQN':'SEQN', 'SMQ020': 'smoker'}

SMQ_H.columns = SMQ_H.columns.map(SMQ_cols)

In [58]:
SMQ_H.head()

      SEQN  smoker
0  73557.0     1.0
1  73558.0     1.0
2  73559.0     1.0
3  73561.0     2.0
4  73562.0     1.0

### Sexual Behavior (SXQ_H)

variables:
- SXQ292 : sexual_orientation_M - Do you think of yourself as...1 Heterosexual or straight (attracted to women), 2 Homosexual or gay (attracted to men), 3 Bisexual (attracted to men and women), 4 Something else, 5 Not sure
- SXQ294 : sexual_orientation_F - ""
- SXQ753 : doc_HPV - Has a doctor or other health care professional ever told you that you had human papillomavirus or HPV? 1 yes, 2 no, 7 refuse, 9 don't know
- SXD171 : lifetime_female_partners - In your lifetime, with how many women have you had any kind of sex?
- SXD101 : lifetime_male_partners - In your lifetime, with how many men have you had any kind of sex?

In [59]:
SXQ_2013_2014 = pd.read_csv('./Questionnaire/SXQ_H.csv')

SXQ_H = SXQ_2013_2014.filter(['SEQN', 'SXQ292', 'SXQ294', 'SXD171', 'SXD101', 'SXQ753'], axis=1)
SXQ_cols = {'SEQN':'SEQN', 'SXQ292' : 'sexual_orientation_M', 'SXQ294' : 'sexual_orientation_F', 
           'SXD171' : 'lifetime_female_partners', 'SXD101' : 'lifetime_male_partners', 'SXQ753' : 'doc_HPV'}

SXQ_H.columns = SXQ_H.columns.map(SXQ_cols)

In [60]:
SXQ_2013_2014.columns

Index(['SEQN', 'SXD021', 'SXQ800', 'SXQ803', 'SXQ806', 'SXQ809', 'SXQ700',
       'SXQ703', 'SXQ706', 'SXQ709', 'SXD031', 'SXD171', 'SXD510', 'SXQ824',
       'SXQ827', 'SXD633', 'SXQ636', 'SXQ639', 'SXD642', 'SXQ410', 'SXQ550',
       'SXQ836', 'SXQ841', 'SXQ853', 'SXD621', 'SXQ624', 'SXQ627', 'SXD630',
       'SXQ645', 'SXQ648', 'SXQ610', 'SXQ251', 'SXQ590', 'SXQ600', 'SXD101',
       'SXD450', 'SXQ724', 'SXQ727', 'SXQ130', 'SXQ490', 'SXQ741', 'SXQ753',
       'SXQ260', 'SXQ265', 'SXQ267', 'SXQ270', 'SXQ272', 'SXQ280', 'SXQ292',
       'SXQ294'],
      dtype='object')

In [61]:
SXQ_H.head()

,SEQN,sexual_orientation_M,sexual_orientation_F,lifetime_female_partners,lifetime_male_partners,doc_HPV
0,73557.0,NaN,NaN,100.0,NaN,NaN
1,73558.0,1.0,NaN,10.0,NaN,NaN
2,73562.0,1.0,NaN,12.0,NaN,NaN
3,73564.0,NaN,NaN,NaN,2.0,NaN
4,73566.0,NaN,1.0,NaN,4.0,2.0

notes: may want to concat the # of partners and sexual orientation despite gender

### Alcohol Use (ALQ_H)

Variables: 
- ALQ151 : alcoholic - Was there ever a time or times in {your/SP's} life when {you/he/she} drank {DISPLAY NUMBER} or more drinks of any kind of alcoholic beverage almost every day? 1 yes, 2 no

In [62]:
ALQ_2013_2014 = pd.read_csv('./Questionnaire/ALQ_H.csv')

ALQ_H = ALQ_2013_2014.filter(['SEQN', 'ALQ151'], axis=1)
ALQ_cols = {'SEQN':'SEQN', 'ALQ151': 'alcoholic'}

ALQ_H.columns = ALQ_H.columns.map(ALQ_cols)

In [63]:
ALQ_H.head()

      SEQN  alcoholic
0  73557.0        1.0
1  73558.0        1.0
2  73559.0        2.0
3  73561.0        2.0
4  73562.0        2.0

notes: food security FSQ_H - FSD032A - HH Worried run out of food

## Laboratory Data

### Cholesterol - HDL (HDL_H)

variables:
- LBDHDD : HDL - Direct HDL-Cholesterol (mg/dL), range 10-173

In [64]:
HDL_2013_2014 = pd.read_csv('./Laboratory/HDL_H.csv')

HDL_H = HDL_2013_2014.filter(['SEQN', 'LBDHDD'], axis=1)
HDL_cols = {'SEQN':'SEQN', 'LBDHDD': 'HDL'}

HDL_H.columns = HDL_H.columns.map(HDL_cols)

In [65]:
HDL_H.head()

      SEQN   HDL
0  73557.0  65.0
1  73558.0  50.0
2  73559.0  60.0
3  73560.0  61.0
4  73561.0  85.0

### Cholesterol - LDL & Triglycerides (TRIGLY_H)

variables:

- LBDLDL - LBDLDL = ROUND(LBXTC-(LBXHDD+LBXTR/5) for LBXTR less than or equal to 400 mg/dL, and missing for LBXTR greater than 400 mg/dL, range 14-375
- LBXTR : triglyceride - Triglyceride (mg/dL), range 13-4233

In [66]:
TRIGLY_2013_2014 = pd.read_csv('./Laboratory/TRIGLY_H.csv')

TRIGLY_H = TRIGLY_2013_2014.filter(['SEQN', 'LBDLDL', 'LBXTR'], axis=1)
TRIGLY_cols = {'SEQN':'SEQN', 'LBDLDL':'LDL','LBXTR': 'triglyceride'}

TRIGLY_H.columns = TRIGLY_H.columns.map(TRIGLY_cols)

In [67]:
TRIGLY_2013_2014.columns

Index(['SEQN', 'WTSAF2YR', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI'], dtype='object')

In [68]:
TRIGLY_H.head()

      SEQN    LDL  triglyceride
0  73559.0   56.0          51.0
1  73561.0  101.0          75.0
2  73564.0   97.0          64.0
3  73568.0   67.0          24.0
4  73574.0   75.0          14.0

### Cholesterol - Total (TCHOL_H)

variables:
- LBXTC : tot_cholesterol - Total Cholesterol( mg/dL), range 69-813

In [69]:
TCHOL_2013_2014 = pd.read_csv('./Laboratory/TCHOL_H.csv')

TCHOL_H = TCHOL_2013_2014.filter(['SEQN', 'LBXTC'], axis=1)
TCHOL_cols = {'SEQN':'SEQN', 'LBXTC': 'tot_cholesterol'}

TCHOL_H.columns = TCHOL_H.columns.map(TCHOL_cols)

In [70]:
TCHOL_H.head()

      SEQN  tot_cholesterol
0  73557.0            167.0
1  73558.0            170.0
2  73559.0            126.0
3  73560.0            168.0
4  73561.0            201.0

### Glycohemoglobin (GHB_H)

variables:
- LBXGH - Glycohemoglobin (%), range 3.5-17.5

In [71]:
GHB_2013_2014 = pd.read_csv('./Laboratory/GHB_H.csv')

GHB_H = GHB_2013_2014.filter(['SEQN', 'LBXGH'], axis=1)
GHB_cols = {'SEQN':'SEQN', 'LBXGH': 'glycohemoglobin'}

GHB_H.columns = GHB_H.columns.map(GHB_cols)

In [72]:
GHB_H.head()

      SEQN  glycohemoglobin
0  73557.0             13.9
1  73558.0              9.1
2  73559.0              8.9
3  73561.0              4.9
4  73562.0              5.5

### Herpes Simplex Virus Type-1 & Type-2 (HSV_H)

variables:
- LBXHE2 : herpes_2 - Herpes Simplex Virus Type 2

In [73]:
HSV_2013_2014 = pd.read_csv('./Laboratory/HSV_H.csv')

HSV_H = HSV_2013_2014.filter(['SEQN', 'LBXHE2'], axis=1)
HSV_cols = {'SEQN':'SEQN', 'LBXHE2': 'herpes_2'}

HSV_H.columns = HSV_H.columns.map(HSV_cols)

In [74]:
HSV_H.head(2)

      SEQN  herpes_2
0  73568.0       2.0
1  73574.0       2.0

### HIV Antibody Test (HIV_H)

variables:
- LBDHI : HIV - HIV antibody test result, 1 pos, 2, neg, 3 indeterminant

In [75]:
HIV_2013_2014 = pd.read_csv('./Laboratory/HIV_H.csv')

HIV_H = HIV_2013_2014.filter(['SEQN', 'LBDHI'], axis=1)
HIV_cols = {'SEQN':'SEQN', 'LBDHI': 'HIV'}

HIV_H.columns = HIV_H.columns.map(HIV_cols)

In [76]:
HIV_H.head(2)

      SEQN  HIV
0  73558.0  2.0
1  73562.0  2.0

### High-Sensitivity C-Reactive Protein (hs-CRP) (HSCRP_I) - NOT IN 2013-2014

variables:
- LBXHSCRP : CRP - HS C-Reactive Protein (mg/L), values 0-188, missing values are mostly below detection limit --> can be made to 0

In [77]:
# HSCRP_2015_2016 = pd.read_csv('./Laboratory/HSCRP_I.csv')

# HSCRP_I = HSCRP_2015_2016.filter(['SEQN', 'LBXHSCRP '], axis=1)
# HSCRP_cols = {'SEQN':'SEQN', 'LBXHSCRP ': 'CRP'}

# HSCRP_I.columns = HSCRP_I.columns.map(HSCRP_cols)

## Examination Data

### Blood Pressure (BPX_H)

variables:
- BPXSY1 : systolic_BP - Systolic: Blood pres (1st rdg) mm Hg
- BPXDI1 : diastolic_BP - Diastolic: Blood pres (1st rdg) mm Hg

In [78]:
BPX_2013_2014 = pd.read_csv('./Examination/BPX_H.csv')

BPX_H = BPX_2013_2014.filter(['SEQN', 'BPXSY1', 'BPXDI1'], axis=1)
BPX_cols = {'SEQN':'SEQN', 'BPXSY1': 'systolic_BP', 'BPXDI1' : 'diastolic_BP'}

BPX_H.columns = BPX_H.columns.map(BPX_cols)

In [79]:
BPX_H.head(2)

      SEQN  systolic_BP  diastolic_BP
0  73557.0        122.0          72.0
1  73558.0        156.0          62.0

### Body Measures (BMX_H)

variables:
- BMXBMI : BMI - Body Mass Index (kg/m**2), range 12.1 to 82.9
- BMXWAIST : waist_C - Waist Circumference (cm), 40.2 to 177.9

In [80]:
BMX_2013_2014 = pd.read_csv('./Examination/BMX_H.csv')

BMX_H = BMX_2013_2014.filter(['SEQN', 'BMXBMI', 'BMXWAIST'], axis=1)
BMX_cols = {'SEQN':'SEQN', 'BMXBMI': 'BMI', 'BMXWAIST' : 'waist_C'}

BMX_H.columns = BMX_H.columns.map(BMX_cols)

In [81]:
BMX_H.head(2)

      SEQN   BMI  waist_C
0  73557.0  26.7    100.0
1  73558.0  28.6    107.6

### Dual-Energy X-ray Absorptiometry - Whole Body (DXX_H)

variables:
- DXDTOBMD : bone_mineral_density - Total Bone Mineral Density (g/cm^2), range 0.559 to 1.548

In [82]:
DXX_2013_2014 = pd.read_csv('./Examination/DXX_H.csv')

DXX_H = DXX_2013_2014.filter(['SEQN', 'DXDTOBMD'], axis=1)
DXX_cols = {'SEQN':'SEQN', 'DXDTOBMD': 'bone_mineral_density'}

DXX_H.columns = DXX_H.columns.map(DXX_cols)

In [83]:
DXX_H.head(2)

      SEQN  bone_mineral_density
0  73558.0                 1.024
1  73560.0                 0.856

# Merging dataframes

In [84]:
from functools import reduce

# list of df
data_frames = [DPQ_H, DEMO_H, DIET_H, DIQ_H, DBQ_H, DLQ_H, DUQ_H, HIQ_H, MCQ_H, 
               KIQ_U_H, OSQ_H, PAQ_H, SLQ_H, SMQ_H, SXQ_H, ALQ_H, HDL_H, TRIGLY_H, 
               TCHOL_H, GHB_H, HSV_H, HIV_H, BPX_H, BMX_H, DXX_H]

df_2013_2014 = reduce(lambda  left,right: pd.merge(left,right,on=['SEQN'],
                                            how='outer'), data_frames)

In [85]:
df_2013_2014.depressed

0        0.0
1        0.0
2        0.0
3        0.0
4        1.0
        ...
10170    NaN
10171    NaN
10172    NaN
10173    NaN
10174    NaN
Name: depressed, Length: 10175, dtype: float64

In [86]:
df_2013_2014.dropna(subset=['depressed'], inplace=True)

In [87]:
df_2013_2014.shape

(5393, 57)

In [88]:
df_2013_2014.columns

Index(['SEQN', 'depressed', 'race_ethnicity', 'edu_level', '#_ppl_household',
       'age', 'gender', 'annual_HI', 'marital_status', 'caffeine',
       'doc_diabetes', 'doc_prediabetes', '#meals_fast_food',
       'how_healthy_diet', 'difficult_hearing', 'difficult_seeing',
       'used_marijuana', 'used_CMH', 'health_insurance', 'doc_asthma',
       'doc_overweight', 'doc_arthritis', 'doc_CHF', 'doc_CHD',
       'doc_heart_attack', 'doc_stroke', 'doc_chronic_bronchitis',
       'doc_liver_condition', 'doc_thyroid_problem', 'doc_COPD', 'doc_cancer',
       'doc_kidney', 'broken_hip', 'doc_osteoporosis', 'vigorous_activity',
       'moderate_activity', 'min_sedetary', 'doc_sleeping_disorder', 'smoker',
       'sexual_orientation_M', 'sexual_orientation_F',
       'lifetime_female_partners', 'lifetime_male_partners', 'doc_HPV',
       'alcoholic', 'HDL', 'LDL', 'triglyceride', 'tot_cholesterol',
       'glycohemoglobin', 'herpes_2', 'HIV', 'systolic_BP', 'diastolic_BP',
       'BMI', 'waist_C', 'bone_mineral_density'],
      dtype='object')

# Export 2013-2014 data

In [89]:
df_2013_2014.to_csv('/Users/carolinesklaver/Desktop/Capstone/NHANES/data/csv_data/df_2013_2014.csv', index=False)